.calendar {
  display: grid;
  grid-template-columns: 64px 1fr 1fr 1fr 1fr 1fr;
}
.calendar::before {
  content: '';
  grid-column: 1;
  grid-row: 1;
}

.calendar-day {
  grid-row: 1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.calendar-day:nth-child(1) { grid-column: 2;}
.calendar-day:nth-child(2) { grid-column: 3;}
.calendar-day:nth-child(3) { grid-column: 4;}
.calendar-day:nth-child(4) { grid-column: 5;}
.calendar-day:nth-child(5) { grid-column: 6;}

.calendar-time {
  box-sizing: border-box;
  grid-column: 1;
  margin: 0;
  height: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.calendar-course {
  background: green;
  margin: 2px;
  border-radius: 5px;
  border-style: none none none solid;
  border-width: 5px;
  padding: 10px;
}

.calendar-gridline {
  position: relative;
  grid-column: 2 / -1;
  
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0.1;
  z-index: -1;
}

.calendar-vertical-gridline {
  position: relative;
  grid-row: 2/-1;
  width: 2px;
  height: 100%;
  background: white;
  opacity: 0.1;
  z-index: -1;
}

@media (prefers-color-scheme: light) {
  .calendar-gridline, .calendar-vertical-gridline {
    background: black;
  }
}